/* Styling for card container */
.custom-card {
  border: 1px solid rgba(73, 80, 87, 0.5);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  margin: 1em 0;
  padding: 0;
}

/* Styling for header and footer */
.custom-card > header,
.custom-card > footer {
  background-color: whitesmoke;
  opacity: 70%;
  padding: 0.5em;
  margin: 0;
}

/* Rounded border for header and footer */
.custom-card > header {
  border-radius: 10px 10px 0 0;
}
.custom-card > footer {
  border-radius: 0 0 10px 10px;
}

/* Styling for paragraphs inside the card */
.custom-card p {
  margin: 0;
}

/* Styling for content area, including flex layout */
.custom-card > div {
  border-top: 1px solid rgba(73, 80, 87, 0.5);
  border-bottom: 1px solid rgba(73, 80, 87, 0.5);
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* Margin for the text content and checkbox input */
.content > p,
input[type="checkbox"] {
  margin-left: auto;
}

/* Styling for read tweets (semi-transparent background) */
.read {
  background-color: rgba(14, 78, 141, 0.5);
}
