body {
  background-color: rgb(45, 199, 238);
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style for the chat list */
.bg-light-custom {
  background-color: #f8f9fa !important; /* Background color for non-hovered state */
}

/* Style for the active and hovered chat list item */
.bg-light-custom:hover,
.bg-light-custom.active {
  background-color: #e9ecef !important;
  border: #e9ecef;
  color: black !important;
}

/* Chat message container */
.message-container {
  height: 500px;
  width: 100%;
  overflow-y: scroll; /* Add this to enable scrolling */
  display: flex;
  flex-direction: column;
}

/* Style for sender's chat bubble */
.message-sender {
  max-width: 90%;
  background-color: #007bff; /* Background color for sender messages */
  color: white; /* Text color for sender messages */
  align-self: flex-end; /* Right-align sender messages */
  border-radius: 50px 50px 0px 50px;
  margin-left: 4em;
}

/* Style for receiver's chat bubble */
.message-receiver {
  max-width: 90%;
  background-color: #e0e0e0; /* Background color for receiver messages */
  color: #333; /* Text color for receiver messages */
  align-self: flex-start; /* Left-align receiver messages */
  border-radius: 50px 50px 50px 0px;
  margin-right: 4em;
}

/* Style for the chat messages */
.message {
  padding: 0.8em;
  word-wrap: break-word;
}